// 颜色定义规范
$color-background = #fff
$color-theme = #2ddae8
$color-aux-one = #aeb6ee
$color-aux-two = #ff8e99
$color-aux-three = #00b7f8
$color-aux-four = #1f1f1f
$color-aux-five = #e8ecef
$color-text = rgba(0, 0, 0, 0.9)
$color-text-mix = rgba(0, 0, 0, 0.4)
$color-text-menu = #b9b8bc

//字体定义规范
$font-size-boid = 17px
$font-size-body-menu = 15px
$font-size-text = 14px
$font-size-mix = 12px